<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <style>
            @font-face {
                font-family: 'fira_sansregular';
                src: url('{{ url_for('static', filename='fonts/firasans-regular-webfont.woff2') }}') format('woff2'),
                    url('{{ url_for('static', filename='fonts/firasans-regular-webfont.woff') }}') format('woff');
            }
            </style>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}" />
        <title>DevOps Solutions Map</title>
    </head>

    <body>
        <header style="background-image: url('{{ url_for('static', filename='img/logo.png') }}')">
            {% include 'main_menu.html.j2' %}
        </header>
        <section>
            {% if get_flashed_messages() %}
            <div class="flash">
                {% for message in get_flashed_messages() %}
                {{ message }}<br />
                {% endfor %}
            </div>
            {% endif %}
            {% block content %} {% endblock %}
            <div id="legend">
                <details>
                    <summary>Legend</summary>
                    <span class="assess">Assess</span> This tool is evaluated for a potential adoption. Not yet trialed but considered for a futur usage.<br />
                    <span class="trial">Trial</span> This tool is considered as promising but not yet widely adopted, the organization is evaluating its value.<br />
                    <span class="adopt">Adopt</span> This tool is the current core model solution for this use-case.<br />
                    <span class="hold">Hold</span> This tools is considered as outdated and no longer relevant. It should not be used anymore.<br />
                    <span class="adopt new">New ✨</span> This tool is a new entry in the radar.<br />
                    <span>None</span> This tools is in an unknown status.
                </details>
            </div>

        </section>
        <footer>
            {% include 'footer.html.j2' %}
        </footer>
    </body>

</html>

