<div id="footer">
<p>Powered <a href="https://github.com/Wivik/devops-solutions-map" target="_blank">DevOps Solutions Map</a> a free and open-source software that displays your DevOps use-cases and the tools covering them.</p>
</div>