{% extends 'base.html.j2' %}

{% block content %}

<div id="container">
    {% for side in devops_content.sides %}
    <div id="column">
            <span class="side {{ side.name }}-side">{{ side.name|capitalize }}</span>

            <div id="container">

            {% for steps in side.steps %}
                <div id="column">
                        <span class="step {{ side.name }}-step-title">{{ steps.name|capitalize }}</span>

                        {% for usecases in steps.usecases %}
                        <div id="usecase">
                            <details{% if request.args['open'] and request.args['open'] == 'all' %} open{% endif %}>
                                <summary>{{ usecases.name }}</summary>
                                {% if usecases.descr|default('nope') != 'nope' %}
                                    <a href="{{ url_for('usecase_view', side=side.name, step=steps.name, usecase=usecases.name) }}" class="about-use-case">About this use-case</a>
                                {% endif %}
                                {% for tool in usecases.tools %}
                                    <a href="{{ url_for('tool_view', tool=tool.name) }}" class="{{ tool.state }}{% if tool.isnew %} new{% endif %}">{{ tool.name }}{% if tool.isnew %}✨{% endif %}</a>
                                {% endfor %}
                            </details>
                        </div> <!-- usecase -->
                        {% endfor %}

                </div> <!-- steps -->
            {% endfor %}

            </div> <!-- container -->

    </div> <!-- column_large -->
    {% endfor %}
</div>

{% endblock %}