{% extends 'base.html.j2' %}

{% block content %}

<div id="content">
<h1>¯\_(ツ)_/¯</h1>
<h1>No solutions file found</h1>

<p>The application could not find the expected solutions file in the data folder.</p>

<p>If the solutions file has been provided as a remote hosted file using the GET method "?solutionsfile=https://...", an error message should be displayed above.</p>

</div>

{% endblock %}