{% extends 'base.html.j2' %}

{% block content %}

<div id="content">
<h1>¯\_(ツ)_/¯</h1>
<h1>No solutions file found</h1>

<p>The application could not find solutions.yaml file in the data folder.</p>

</div>

{% endblock %}