{% extends 'base.html.j2' %}

{% block content %}

<div id="container" style="padding-left:5rem;padding-right:5rem;">
    <div id="column">
    <h1>
    {% if tool_content['name']|default('nope') == 'nope' %}
    Tool not defined in tools section
    {% else %}
    {{ tool_content['name'] }}
    {% endif %}
    {% if tool_content['descr'] %}
    </h1>

    <p>{{ tool_content['descr'] | markdown }}</p>
    {% endif %}
    </div>
    <div id="column">
    <h1>Use cases</h1>
    {% for usage in tool_usage %}
        <a href="{{ url_for('usecase_view', usecase=usage.uc, side=usage.side, step=usage.step) }}" class="{{  usage.state|default('unknown') }}{% if usage.isnew %} new{% endif %}" style="width:60%;">
        {{ usage.side|capitalize }} &gt;
        {{ usage.step|capitalize }} &gt;
        {{ usage.uc }}{% if usage.isnew %} ✨{% endif %}
        </a>

    {% endfor %}
    {% if tool_content['links']|default('nope') != 'nope' %}
    <h1>Links</h1>
        <ul>
        {% for link in tool_content['links'] %}
            <li><a href="{{ link['url'] }}" target="_blank">{{ link['name'] }}</a></li>
        {% endfor %}
        </ul>
    {% endif %}
    {% if tool_content['tags']|default('nope') != 'nope' %}
    <h1>Tags</h1>
        <ul>
        {% for tag in tool_content['tags'] %}
            <li>{{ tag['name'] }} : {{ tag['value'] }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    </div>
</div>

{% endblock %}